<div class="col-md-1 col-xs-1"></div>
<div class="col-md-9 col-xs-9 modal-submit-questions "
	style="padding-top: 30px;">
	
	<div class="col-md-12 col-xs-12">
		<ul class="tabs-title">
			<li id="title-tab-question"><h4 class="modal-title active"
					id="tab-question">Ask a Question</h4>
				</a></li>
			
		</ul>
	</div>
	<div class="col-md-12 col-xs-12 body-question">
		<form id="submit_question" ng-submit="submitQuestion();">
			<input type="hidden" id="qa_nonce" name="qa_nonce" value="b1317c01be">
			<input type="hidden" name="post_parent" value="0">
			<div class="input-title">
				<input type="text" class="submit-input" id="question_title"
					name="post_title" placeholder="Your Question"
					ng-model="addQuestion.question" /> <span id="charNum">{{150-addQuestion.question.length}}</span>
			</div>
			<div class="select-categories">
				<select id="question_category" name="question_category"
					ng-model="addQuestion.categoryId" ng-options="category.categoryId as category.categoryName for category in categoriesList"
					class="categories-select select-question selectpicker">
					<option value="">Select a Category</option>
					<option>Education</option>
					<option>Photography</option>
					<option>Training</option>
				</select>
			</div>
			<div><h3>Add Description</h3></div>
			<div class="wp-editor-container">
				
				<text-angular ng-model="addQuestion.description"></text-angular>
			</div>




			<button type="submit" id="btn_submit_question"
				class="btn-submit-question" style="margin-top: 10px;">SUBMIT
				QUESTION</button>
			<p class="term-texts">
				By posting your question, you agree to the <a target="_blank"
					href="https://qaengine.enginethemes.com/privacy/">privacy
					policy</a> and <a target="_blank"
					href="https://qaengine.enginethemes.com/term/">terms of
					service.</a>
			</p>
		</form>
	</div>
</div>