
<div class=" col-md-offset-1 col-xs-offset-1 col-md-9 col-xs-9 modal-submit-questions ">

	<div class="col-md-12 col-xs-12">
		<ul class="tabs-title">
			<li id="title-tab-question"><h4 class="modal-title active"
					id="tab-question">Edit Question</h4> </a></li>

		</ul>
	</div>
	<div class="col-md-12 col-xs-12 body-question">
		<form name="editQuestionForm" id="submit_question" ng-submit="editQuestionForm.$valid && submitQuestion();">
			<input type="hidden" id="qa_nonce" name="qa_nonce" value="b1317c01be">
			<input type="hidden" name="post_parent" value="0">
			<div class="input-title">
				<input type="text" class="submit-input" id="question_title"
					name="post_title" placeholder="Your Question"
					ng-model="editQuestion.question" limit-To='150' ng-maxlength='150' ng-minlength='2' required/> <span id="charNum">{{150-editQuestion.question.length}}</span>
			</div>
			<div class="form-group row">
				<label class="col-md-1" for="categoryname">Category:</label>
				<div class="select-categories col-md-11" id="categoryname">
					<am-multiselect class="input-lg customselect"
						ng-model="editQuestion.categoryId" ms-header="Select Category"
						options="category.categoryId as category.categoryName for category in categoriesList.categories"
						 required></am-multiselect>
				</div>
			</div>
			<div>
				<h3>Add Description</h3>
			</div>
			<div class="wp-editor-container">

				<text-angular ng-model="editQuestion.description" required></text-angular>
			</div>

			<button type="submit" id="btn_submit_question"
				class="btn-submit-question" ng-class="{'disabled': editQuestionForm.$invalid }"
							ng-disabled="editQuestionForm.$invalid" style="margin-top: 10px;">SUBMIT
				QUESTION</button>
			<p class="term-texts">
				By posting your question, you agree to the <a target="_blank"
					href="https://qaengine.enginethemes.com/privacy/">privacy
					policy</a> and <a target="_blank"
					href="https://qaengine.enginethemes.com/term/">terms of
					service.</a>
			</p>
		</form>
	</div>
</div>