
<div
	class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1 col-xl-offset-1 col-md-9 col-xs-9 col-sm-9 col-xl-9 col-lg-9 main-content questionspage" gn-int="mc.init();">
	<div class="clearfix"></div>
		<div class="row">
		<div class="col-md-12 col-xs-12">
			<button class="btn btn-primary" data-toggle="modal"
				data-target="#importModal">Import</button>
			<button class="btn btn-primary" ng-click="exportData();">Export</button>
		</div>
	</div>
	
	<div class="row select-category">
		<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6 current-category">
			<span>All Questions</span>
		</div>
		<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
			<div class="select-categories-wrapper">
				<div class="outer-filter-wrapper">
					<div class="select-categories-filter">
						<span class="label-filter">Filter by Category</span>
						<div>
							<am-multiselect class="customselect" ng-model="categoryId"
								ms-header="Select Category"
								options="category.categoryId as category.categoryName for category in categoriesList.categories"
								change="filterSelected()"></am-multiselect>

						</div>

					</div>
					<!-- <div class="filter-by-select">
						<select class="filter-select-type selectpicker" name="" id="">
							<option value="">All</option>
							<option value="">Poll</option>
							<option value="">Normal</option>
						</select>
					</div>
 -->
				</div>
			</div>
		</div>
	</div>
	<!-- END SELECT-CATEGORY -->

	<div class="row question-filter" id="question_filter">
		<div class="col-md-8 col-xs-8 col-sm-8 col-xl-8 col-lg-8 sort-questions">
			<ul id="nav-tabs">
				<li class="active"><a data-target="#all" data-toggle="tab"
					ng-click="getAllQuestions(1);">Latest</a></li>
				<li><a data-target="#unanswered" data-toggle="tab"
					ng-click='getAllUnansweredQuestions(1)'>Unanswered</a></li>
				<li><a class="" data-target="#myposts" data-toggle="tab"
					ng-click='retriveMyQuestionaries(1)'>My Posts</a></li>

				<li><a class="" data-target="#myreplies" data-toggle="tab"
					ng-click='retriveMyReplyQuestions(1)'>My Reply Questions</a></li>
			</ul>
		</div>
		<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4">
			<div class="number-of-questions-wrapper">
				<span class="number-of-questions-text">Questions Per Page: </span>
				<div class="number-of-questions">
					<am-multiselect class="" ng-model="pageSize"
						ms-header="Select PageSize"
						options="c.id for c in [{'id':20},{'id':15},{'id':10},{'id':5}]"
						change="filterSelected()"></am-multiselect>
				</div>
			</div>
		</div>
	</div>

	<div class="tab-content">
		<div class="tab-pane active" id="all">
			<div ng-if="items.length>0">
			<div class="main-questions-list">
				<ul id="main_questions_list">
					<li ng-repeat="question in items"
						class="question-item question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2">
						<div>
							<div class="col-md-8 col-xs-8 col-sm-8 col-xl-8 col-lg-8 q-left-content">
								<div class="q-ltop-content">
									<h2>
										<a href="#/question/{{question.questionId}}"
											class="question-title" ng-bind-html='question.question'></a>
									</h2>
								</div>
								<div class="q-lbtm-content">
									<div class="question-excerpt">
										<p ng-bind-html='(question.description | limitTo:200) +"..."'></p>
									</div>
									<div class="question-cat">
										<ul class="question-tags">
											<li><a class="q-tag" href="">{{question.categoryName}}</a></li>
										</ul>
										<div class="clearfix"></div>
										<a href=""> <span class="author-avatar"> <img
												ng-src="{{question.displayImage}}" class="avatar" alt="" />
										</span> <span class="author-name">{{question.emailId}}</span>
										</a> <span class="question-time">Asked on
											{{question.createdDate | date: 'MMM dd, yyyy'}} </span>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4 q-right-content">
								<ul class="question-statistic">
									<li class="active" ng-show="question.questionRepliesCount>0"><span
										class="question-answers">{{question.questionRepliesCount}}
									</span> answers</li>
									<li ng-show="question.questionRepliesCount<=0"><span
										class="question-votes">{{question.questionRepliesCount}}
									</span> answers</li>
								</ul>
								<div class="pumping"></div>
							</div>

							<div class="clearfix"></div>
						</div>
					</li>
				</ul>
			</div>
			<!-- END MAIN-QUESTIONS-LIST -->
			<div class="row paginations home">
				<div class="col-md-12">
					<ul class="pagination">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="getAllQuestions(1,$scope.searchKey)">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="getAllQuestions(pager.currentPage - 1,$scope.searchKey)">Previous</a></li>
						<li class="page-numbers" ng-repeat="page in pager.pages"><a
							ng-class="{current:pager.currentPage === page}"
							ng-click="getAllQuestions(page,$scope.searchKey);">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="getAllQuestions(pager.currentPage + 1,$scope.searchKey)">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a ng-click="getAllQuestions(pager.totalPages,$scope.searchKey)">Last</a>
						</li>
					</ul>

				</div>
			</div>
			</div>
			<div class="text-center" ng-if="items.length==0">
					<h1>No Questions are available.</h1>
			</div>
		</div>
		<div class="tab-pane" id="unanswered">
			<div ng-if="items.length>0">
			<div class="main-questions-list">
				<ul id="main_questions_list">
					<li ng-repeat="question in items"
						class="question-item question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2">
						<div>
							<div class="col-md-8 col-xs-8 col-sm-8 col-xl-8 col-lg-8 q-left-content">
								<div class="q-ltop-content">
									<h2>
										<a href="#/question/{{question.questionId}}"
											class="question-title" ng-bind-html='question.question'></a>
									</h2>
								</div>
								<div class="q-lbtm-content">
									<div class="question-excerpt">
										<p ng-bind-html='(question.description | limitTo:200) +"..."'></p>
									</div>
									<div class="question-cat">
										<ul class="question-tags">
											<li><a class="q-tag" href="">{{question.categoryName}}</a></li>
										</ul>
										<div class="clearfix"></div>
										<a href=""> <span class="author-avatar"> <img
												ng-src="{{question.displayImage}}" class="avatar" alt="" />
										</span> <span class="author-name">{{question.emailId}}</span>
										</a> <span class="question-time">Asked on
											{{question.createdDate | date: 'MMM dd, yyyy'}} </span>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4 q-right-content">
								<ul class="question-statistic">
									<li class="active" ng-show="question.questionRepliesCount>0"><span
										class="question-answers">{{question.questionRepliesCount}}
									</span> answers</li>
									<li ng-show="question.questionRepliesCount<=0"><span
										class="question-votes">{{question.questionRepliesCount}}
									</span> answers</li>
								</ul>
								<div class="pumping"></div>
							</div>

							<div class="clearfix"></div>
						</div>
					</li>
				</ul>
			</div>
			<!-- END MAIN-QUESTIONS-LIST -->
			<div class="row paginations home">
				<div class="col-md-12">
					<ul class="pagination">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,unAnsweredQuestionsList.questions)">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,unAnsweredQuestionsList.questions)">Previous</a></li>
						<li class="page-numbers" ng-repeat="page in pager.pages"><a
							ng-class="{current:pager.currentPage === page}"
							ng-click="getAllUnansweredQuestions(page);">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.currentPage + 1,unAnsweredQuestionsList.questions)">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.totalPages,unAnsweredQuestionsList.questions)">Last</a>
						</li>
					</ul>

				</div>
			</div>
			</div>
			<div class="text-center" ng-if="items.length==0">
					<h1>No Questions are available.</h1>
			</div>

		</div>
		<div class="tab-pane" id="myposts">
			<div ng-if="items.length>0">
			<div class="main-questions-list">
				<ul id="main_questions_list">
					<li ng-repeat="question in items"
						class="question-item question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2">
						<div>
							<div class="col-md-8 col-xs-8 col-sm-8 col-xl-8 col-lg-8 q-left-content">
								<div class="q-ltop-content">
									<h2>
										<a href="#/question/{{question.questionId}}"
											class="question-title" ng-bind-html='question.question'></a>
									</h2>
								</div>
								<div class="q-lbtm-content">
									<div class="question-excerpt">
										<p ng-bind-html='(question.description | limitTo:200) +"..."'></p>
									</div>
									<div class="question-cat">
										<ul class="question-tags">
											<li><a class="q-tag" href="">{{question.categoryName}}</a></li>
										</ul>
										<div class="clearfix"></div>
										<a href=""> <span class="author-avatar"> <img
												ng-src="{{question.displayImage}}" class="avatar" alt="" />
										</span> <span class="author-name">{{question.emailId}}</span>
										</a> <span class="question-time">Asked on
											{{question.createdDate | date: 'MMM dd, yyyy'}} </span>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4 q-right-content">
								<ul class="question-statistic">
									<li class="active" ng-show="question.questionRepliesCount>0"><span
										class="question-answers">{{question.questionRepliesCount}}
									</span> answers</li>
									<li ng-show="question.questionRepliesCount<=0"><span
										class="question-votes">{{question.questionRepliesCount}}
									</span> answers</li>
								</ul>
								<div class="pumping"></div>
							</div>

							<div class="clearfix"></div>
						</div>
					</li>
				</ul>
			</div>
			<!-- END MAIN-QUESTIONS-LIST -->
			<div class="row paginations home">
				<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 col-lg-12">
					<ul class="pagination">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,unAnsweredQuestionsList.questions)">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,unAnsweredQuestionsList.questions)">Previous</a></li>
						<li class="page-numbers" ng-repeat="page in pager.pages"><a
							ng-class="{current:pager.currentPage === page}"
							ng-click="retriveMyQuestionaries(page);">{{page}}</a></li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.currentPage + 1,unAnsweredQuestionsList.questions)">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.totalPages,unAnsweredQuestionsList.questions)">Last</a>
						</li>
					</ul>

				</div>
			</div>
			</div>
			<div class="text-center" ng-if="items.length==0">
					<h1>No Questions are available.</h1>
			</div>

		</div>
		
		<div class="tab-pane" id="myreplies">
			<div ng-if="items.length>0">
			<div class="main-questions-list">
				<ul id="main_questions_list">
					<li ng-repeat="question in items"
						class="question-item question type-question status-publish hentry question_category-business qa_tag-business-2 qa_tag-technology-2">
						<div>
							<div class="col-md-8 col-xs-8 col-sm-8 col-xl-8 col-lg-8 q-left-content">
								<div class="q-ltop-content">
									<h2>
										<a href="#/question/{{question.questionId}}"
											class="question-title" ng-bind-html='question.question'></a>
									</h2>
								</div>
								<div class="q-lbtm-content">
									<div class="question-excerpt">
										<p ng-bind-html='(question.description | limitTo:200) +"..."'></p>
									</div>
									<div class="question-cat">
										<ul class="question-tags">
											<li><a class="q-tag" href="">{{question.categoryName}}</a></li>
										</ul>
										<div class="clearfix"></div>
										<a href="javascript:void(0);"> <span class="author-avatar">
												<img ng-src="{{question.displayImage}}" class="avatar"
												alt="" />
										</span> <span class="author-name">{{question.emailId}}</span>
										</a> <span class="question-time">Asked on
											{{question.createdDate | date: 'MMM dd, yyyy'}} </span>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-xs-4 col-sm-4 col-xl-4 col-lg-4 q-right-content">
								<ul class="question-statistic">
									<li class="active" ng-show="question.questionRepliesCount>0"><a
										href="#/question/{{question.questionId}}"><span
											class="question-answers">{{question.questionRepliesCount}}
										</span></a> answers</li>
									<li ng-show="question.questionRepliesCount<=0"><span
										class="question-votes">{{question.questionRepliesCount}}
									</span> answers</li>
								</ul>
								<div class="pumping"></div>
							</div>
							<div class="clearfix"></div>
						</div>
					</li>
				</ul>
			</div>
			<div class="row paginations home">
				<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 col-lg-12">
					<ul class="pagination">
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(1,retriveMyReplyQuestionsList.questions)">First</a></li>
						<li ng-class="{disabled:pager.currentPage === 1}"><a
							ng-click="setPage(pager.currentPage - 1,retriveMyReplyQuestionsList.questions)">Previous</a></li>
						<li class="page-numbers" ng-repeat="page in pager.pages"><a
							ng-class="{current:pager.currentPage === page}"
							ng-click="retriveMyReplyQuestions(page)">{{page}}</a></li>
							<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.currentPage + 1,retriveMyReplyQuestionsList.questions)">Next</a>
						</li>
						<li ng-class="{disabled:pager.currentPage === pager.totalPages}">
							<a
							ng-click="setPage(pager.totalPages,retriveMyReplyQuestionsList.questions)">Last</a>
						</li>
					</ul>

				</div>
			</div>
			</div>
			<div class="text-center" ng-if="items.length==0">
					<h1>No Questions are available.</h1>
			</div>
		</div>
	</div>

	
</div>
<div id="importModal" class="modal fade" role="dialog"
	data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="clearExcel()">&times;</button>
				<h4 class="modal-title">Upload Questions from Excel.</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12 col-xs-12 col-lg-12 col-sm-12 col-xl-12 errStatus" ng-if="errorMessage!=='';">{{errorMessage}}</div>
					<div class="col-md-6 col-xs-6 col-xl-6 col-lg-6 col-sm-6">
						<input type="file" id="excelfile" file-model="myFile"
							accept=".xls,.xlsx" />
					</div>
					<div class="col-md-6 col-xs-6 col-xl-6 col-lg-6 col-sm-6">
						<button ng-disabled="myFile==null"
							ng-class="{'disabled': myFile==null}" class="btn btn-primary"
							ng-click="importQuestionsFromExcel()">File Upload</button>
					</div>
					<div
						class="col-md-12 col-xs-12 col-lg-12 col-sm-12 col-xl-12 current-category">
						<span style="color: lightblue">Sample Excel File</span> <img
							src="images/excelupload.png" alt="s3.png"
							style="width: 400px; height: 200px;">
					</div>
				</div>
			</div>
</div>
		<div id="importModal" class="modal fade" role="dialog"
			data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							ng-click="clearExcel()">&times;</button>
						<h4 class="modal-title">Upload Questions from Excel.</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div
								class="col-md-12 col-xs-12 col-lg-12 col-sm-12 col-xl-12 errStatus"
								ng-if="errorMessage!=='';">{{errorMessage}}</div>
							<div class="col-md-6 col-xs-6 col-xl-6 col-lg-6 col-sm-6">
								<input type="file" id="excelfile" file-model="myFile"
									accept=".xls,.xlsx" />
							</div>
							<div class="col-md-6 col-xs-6 col-xl-6 col-lg-6 col-sm-6">
								<button ng-disabled="myFile==null"
									ng-class="{'disabled': myFile==null}" class="btn btn-primary"
									ng-click="importQuestionsFromExcel()">File Upload</button>
							</div>
							<div
								class="col-md-12 col-xs-12 col-lg-12 col-sm-12 col-xl-12 current-category">
								<span style="color: lightblue">Sample Excel File</span> <img
									src="images/excelupload.png" alt="s3.png"
									style="width: 400px; height: 200px;">
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		</div>
	</div>


