
<div class="col-md-1 col-xs-1"></div>
<div class="col-md-9 col-xs-9 single-content"
	style="padding-top: 30px;">
	<div class="row select-category single-head">
		<div class="col-md-1 col-xs-1">
			<span class="back"> <i class="fa fa-angle-double-left"></i> <a
				href="#/questions">Home</a>
			</span>
		</div>
		<div class="col-md-8 col-xs-8">


			<h1 ng-bind-html='question.questionDetails.question' style="color:black"></h1>
			<p ng-bind-html='question.questionDetails.description'></p>
		</div>
		<div class="col-md-3 col-xs-3 question-cat">

			<span> <span class="author-avatar"> <img
					src="images/userlogo.png" class="avatar" alt="" />
			</span> <span class="author-name">{{question.questionDetails.emailId}}</span>
			</span> <span class="question-time" style="padding-left: 50px;"> Asked on
				{{question.questionDetails.createdDate| date: 'MMM dd,yyyy'}}. </span>
				<ul class="question-tags">
					<li><a class="q-tag" href="">{{question.questionDetails.categoryName}}</a></li>
					<li></li>
				</ul>


			

		</div>
	</div>
	<!-- END SELECT-CATEGORY -->
	<div id="question_content"
		class="row question-main-content question-item"
		ng-repeat="reply in question.replyDetails">
		<div class="col-md-1 col-xs-1"></div>
		<div class="col-md-10 col-xs-10 q-right-content">

			<!-- admin control -->
			<ul class="post-controls">
				<!-- Follow Action -->
				<li><a href="javascript:void(0)" data-toggle="tooltip"
					data-original-title="Follow" data-name="follow"
					class="action follow"> <i class="fa fa-plus-square"></i>
				</a></li>
				<!-- // Follow Action -->
				<!-- report Action -->
				<!--// Report Action -->
			</ul>
			<!--// admin control -->
			<!-- question tag -->
			<div class="top-content">
				<span class="answered"><i class="fa fa-check"></i> Answered</span>
			</div>
			<!--// question tag -->
			<div class="clearfix"></div>

			<div class="question-content">
				<p ng-bind-html="reply.replyDescription"></p>
				<p>&nbsp;</p>
			</div>

			<div class="row">
				<div class="col-md-8 col-xs-8 question-cat" data-user="11">

					<span> <span class="author-avatar"> <img
							src="images/userlogo.png" class="avatar" alt="" />
					</span> <span class="author-name">{{reply.emailId}}</span>
					</span> <span class="question-time"> Answered on {{reply.updatedDate|
						date: 'MMM dd,yyyy'}}. </span>
				</div>
				<div class="col-md-4 col-xs-4 question-control">
					<ul>
						<li><a class="share-social" href="javascript:void(0)"
							data-toggle="popover" data-placement="top" data-container="body"
							data-content='<ul class="socials-share"><li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F&t=What is business??" target="_blank" class="btn-fb"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="http://twitter.com/share?text=What is business??&url=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F" class="btn-tw"><i class="fa fa-twitter"></i></a></li><li class="ggplus"><a target="_blank"  href="https://plus.google.com/share?url=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F" class="btn-gg"><i class="fa fa-google-plus"></i></a></li></ul>'
							data-html="true"> Share <i class="fa fa-share"></i>
						</a></li>
						<!-- <li class="collapse">
                                <a href="javascript:void(0)">
                                    Report <i class="fa fa-flag"></i>
                                </a>
                            </li> -->
						<!-- <li><a href="#container_2341" class="show-comments ">
								Comment(0) <i class="fa fa-comment"></i>
						</a></li> -->
					</ul>
				</div>
			</div>

			<div class="clearfix"></div>


		</div>
		<div class="clearfix"></div>
	</div>
	<!-- <div class="comments-container collapse" id="container_2341">
                    <div class="comments-wrapper">
                                            </div>
                    		<a data-container="body" data-toggle="popover" data-content="You must have 10 points to add comment." class="add-comment" data-id="2341" href="javascript:void(0)">Add Comment</a>
	    <div class="clearfix"></div>
	    <form class="child-reply" method="POST">
	        <input type="hidden" name="qa_nonce"        value="521a9dcbf4" />
	        <input type="hidden" name="comment_post_ID" value="2341" />
	        <input type="hidden" name="comment_type"    value="question" />
	        <input type="hidden" name="user_id"         value="0" />
	        <input type="hidden" name="post_parent"     value="2341" />
	        <div id="editor_wrap_2341" class="child-answer-wrap collapse">
	            <div class="wp-editor-container">
	                <textarea name="post_content" id="insert_answer_2341"></textarea>
	            </div>
	            <div class="row submit-wrapper">
	                <div class="col-md-3 col-xs-3">
	                    <button id="submit_reply" class="btn-submit">
	                        Add comment	                    </button>
	                </div>
	                <div class="col-md-9 col-xs-9">
	                    <a href="javascript:void(0)" class="hide-comment">Cancel</a>
	                </div>
	            </div>
	        </div>
	    </form>END SUBMIT FORM COMMENT

	                </div>
 -->
	<div class="row form-reply">
		<div class="col-md-12">
			<h3>Your Answer</h3>
			<form id="form_reply" ng-submit="postAnswer();">

				<text-angular ng-model="answer.replyDescription"></text-angular>

				<div class="row submit-wrapper">
					<div class="col-md-2">
						<button type="submit"  ng-class="{'disabled': answer.replyDescription==''}" ng-disabled="answer.replyDescription=='';"
							class="btn-submit">Post answer</button>
					</div>
					<div class="col-md-10 term-texts">
						By posting your answer, you agree to the <a target="_blank"
							href="https://qaengine.enginethemes.com/privacy/">privacy
							policy</a> and <a target="_blank"
							href="https://qaengine.enginethemes.com/term/">terms of
							service.</a>
					</div>
				</div>
			</form>
		</div>
	</div>


	<div class="clearfix"></div>





</div>