
<div class="col-md-1 col-xs-1"></div>
<div class="col-md-9 col-xs-9 main-content questionspage"
	style="padding-top: 30px;">
	<div class="row select-category single-head">
		<div class="col-md-1 col-xs-1">
			<span class="back"> <i class="fa fa-angle-double-left"></i> <a
				href="#/questions">Home</a>
			</span>
		</div>
		<div class="col-md-10 col-xs-10">


			<h1 ng-bind-html='question.questionDetails.question'></h1>

		</div>
		<!-- <div class="col-md-3 col-xs-3 question-cat">

			<span> <span class="author-avatar"> <img
					ng-src="{{question.questionDetails.displayImage}}" class="avatar"
					alt="" />
			</span> <span class="author-name">{{question.questionDetails.emailId}}</span>
			</span> <span class="question-time" style="padding-left: 50px;">
				Asked on {{question.questionDetails.createdDate| date: 'MMM
				dd,yyyy'}}. </span>
			<ul class="question-tags">
				<li><a class="q-tag" href="">{{question.questionDetails.categoryName}}</a></li>
				<li></li>
			</ul>




		</div> -->
	</div>

	<div id="question_content"
		class="row question-main-content question-item">
		<div class="col-md-1 col-xs-1"></div>
		<div class="col-md-10 col-xs-10 q-right-content">
			<ul class="post-controls">
				<!-- Follow Action -->
				<li><a href="javascript:void(0)" data-toggle="tooltip"
					title="Follow" class="action follow"> <i
						class="fa fa-plus-square"></i>
				</a></li>
				<!-- // Follow Action -->
				<!-- report Action -->
				<li><a href="javascript:void(0)" data-toggle="tooltip"
					title="Report" class="action report"> <i
						class="fa fa-exclamation-triangle"></i>
				</a></li>
				<!--// Report Action -->
			</ul>
			<div class="top-content" ng-if="question.replyDetails.length>0">
				<span class="answered"><i class="fa fa-check"></i> Answered</span>
			</div>
			<div class="question-content">
				<p ng-bind-html="question.questionDetails.description"></p>
			</div>
			<div class="row">
				<div class="col-md-8 col-xs-8 question-cat">

					<span> <span class="author-avatar"> <img
							ng-src="{{question.questionDetails.displayImage}}" class="avatar"
							alt="" />
					</span> <span class="author-name">{{question.questionDetails.emailId}}</span>
					</span> <span class="question-time">Asked on
						{{question.questionDetails.createdDate| date: 'MMM dd,yyyy'}}.
						{{question.questionDetails.categoryName}}</span>
				</div>
				<div class="col-md-4 col-xs-4 question-control">
					<ul>

						<li><a data-toggle="collapse"
							data-target="#question-container" class="show-comments"
							ng-class="{'active': question.questionDetails.questionComments.length>0}">
								Comment({{question.questionDetails.questionComments.length}}) <i
								class="fa fa-comment"></i>
						</a></li>
					</ul>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="comments-container" id="question-container"
				ng-class="{'collpase in': question.questionDetails.questionComments.length>0}">
				<div class="comments-wrapper">

					<div class="row comment-item"
						ng-repeat="comment in question.questionDetails.questionComments">
						<!-- <div class="col-md-2 comment-avatar">
							<img itemprop="image"
								src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg"
								class="avatar" alt="" />
							<p class="cmt-author">
								<a href="https://qaengine.enginethemes.com/blog/member/admin/"
									title="admin"> admin </a>
							</p>
						</div> -->
						<div class="col-md-12 comment-content">
							<div class="cm-content-wrap">
								<div class="">
									<p>
										<span style="color: #000000;" ng-bind-html='comment.commentDescription'></span>
									</p>
								</div>
								<span class="comment-time"><span style="color: #07C;">{{comment.emailId}}
								</span> on {{comment.createdDate| date: 'MMM dd,yyyy'}} </span> <span
									class="comment-edit"> </span>
							</div>
							<!-- END COMMENT CONTENT -->
							<div class="cm-content-edit collapse">
								<form class="edit-comment">
									<input type="hidden" name="qa_nonce" value="6f589a0575" />
									<div class="wp-editor-container">
										<textarea name="comment_content" id="edit_comment_11"></textarea>
									</div>
									<div class="row submit-wrapper">
										<div class="col-md-3">
											<button id="submit_reply" class="btn-submit">Update</button>
										</div>
										<div class="col-md-3">
											<a href="javascript:void(0)" class="cancel-comment">Cancel</a>
										</div>
									</div>
								</form>
							</div>
							<!-- END EDIT COMMENT FORM -->
						</div>
					</div>


				</div>
				<a data-container="body" data-toggle="collapse"
					data-target="#questionchild-container" class="add-comment"
					href="javascript:void(0)">Add Comment</a>
				<div class="clearfix"></div>
				<form class="child-reply" ng-submit="submitQuestionComment(questioncomment,question.questionDetails.questionId)">

					<div id="questionchild-container" class="child-answer-wrap collapse">
						<div class="wp-editor-container">
							<text-angular ng-model="questioncomment"></text-angular>
						</div>
						<div class="row submit-wrapper">
							<div class="col-md-3 col-xs-3">
								<button type="submit" id="submit_reply" class="btn-submit">Add
									comment</button>
							</div>
							<div class="col-md-9 col-xs-9">
								<a href="javascript:void(0)" class="hide-comment">Cancel</a>
							</div>
						</div>
					</div>
				</form>
				<!-- END SUBMIT FORM COMMENT -->

			</div>
		</div>
	</div>
	<!-- END question-content -->
	<div class="row answers-filter" id="answers_filter">
		<div class="max-col-md-8">
			<div class="col-md-6 col-xs-6">
				<span class="answers-count"><span itemprop="answerCount"
					class="number">{{question.replyDetails.length}}</span> Answer(s) </span>
			</div>

		</div>
	</div>
	<div id="answers_main_list"
		class="row question-main-content question-item answer-item"
		ng-repeat="reply in question.replyDetails">
		<div class="col-md-1 col-xs-1"></div>
		<div class="col-md-10 col-xs-10 q-right-content">

			<!-- admin control -->
			<ul class="post-controls">
				<!-- Follow Action -->
				<li><a href="javascript:void(0)" data-toggle="tooltip"
					title="Follow" tooltip class="action follow"> <i
						class="fa fa-plus-square"></i>
				</a></li>
				<!-- // Follow Action -->
			</ul>
			<!--// admin control -->
			<!-- question tag -->

			<!--// question tag -->
			<div class="clearfix"></div>

			<div class="question-content">

				<p ng-bind-html="reply.replyDescription"></p>

			</div>

			<div class="row">
				<div class="col-md-8 col-xs-8 question-cat" data-user="11">

					<span> <span class="author-avatar"> <img
							ng-src="{{reply.displayImage}}" class="avatar" alt="" />
					</span> <span class="author-name">{{reply.emailId}}</span>
					</span> <span class="question-time">Answered on
						{{reply.updatedDate| date: 'MMM dd,yyyy'}}. </span>
				</div>
				<div class="col-md-4 col-xs-4 question-control">
					<ul>
						<!-- <li><a class="share-social" href="javascript:void(0)"
							data-toggle="popover" data-placement="top" data-container="body"
							data-content='<ul class="socials-share"><li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F&t=What is business??" target="_blank" class="btn-fb"><i class="fa fa-facebook"></i></a></li><li><a target="_blank" href="http://twitter.com/share?text=What is business??&url=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F" class="btn-tw"><i class="fa fa-twitter"></i></a></li><li class="ggplus"><a target="_blank"  href="https://plus.google.com/share?url=https%3A%2F%2Fqaengine.enginethemes.com%2Fblog%2Fquestion%2Fwhat-is-business%2F" class="btn-gg"><i class="fa fa-google-plus"></i></a></li></ul>'
							data-html="true"> Share <i class="fa fa-share"></i>
						</a></li> -->
						<!-- <li class="collapse">
                                <a href="javascript:void(0)">
                                    Report <i class="fa fa-flag"></i>
                                </a>
                            </li> -->
						<li><a data-toggle="collapse"
							data-target="#container{{$index}}" class="show-comments"
							ng-class="{'active': reply.replyComments.length>0}">
								Comment({{reply.replyComments.length}}) <i class="fa fa-comment"></i>

						</a></li>
					</ul>
				</div>
			</div>

			<div class="clearfix"></div>

			<div class="comments-container collapse" id="container{{$index}}"
				ng-class="{'collpase in': reply.replyComments.length>0}">
				<div class="comments-wrapper">

					<div class="row comment-item"
						ng-repeat="comment in reply.replyComments">

						<div class="col-md-12 comment-content">
							<div class="cm-content-wrap">
								<div class="">
									<p>
										<span style="color: #000000;" ng-bind-html='comment.commentDescription'></span>
									</p>
								</div>
								<span class="comment-time"><span style="color: #07C;">{{comment.emailId}}
								</span> on {{comment.createdDate| date: 'MMM dd,yyyy'}} </span> <span
									class="comment-edit"> </span>
							</div>
							<!-- END COMMENT CONTENT -->
							<div class="cm-content-edit collapse">
								<form class="edit-comment">
									<input type="hidden" name="qa_nonce" value="6f589a0575" />
									<div class="wp-editor-container">
										<textarea name="comment_content" id="edit_comment_11"></textarea>
									</div>
									<div class="row submit-wrapper">
										<div class="col-md-3">
											<button id="submit_reply" class="btn-submit">Update</button>
										</div>
										<div class="col-md-3">
											<a href="javascript:void(0)" class="cancel-comment">Cancel</a>
										</div>
									</div>
								</form>
							</div>
							<!-- END EDIT COMMENT FORM -->
						</div>
					</div>


				</div>

				<a data-toggle="collapse" class="add-comment"
					data-target="#replychild-container{{$index}}" href="javascript:void(0)">Add
					Comment</a>
				<div class="clearfix"></div>
				<form class="child-reply" ng-submit="submitReplyComment(replycomment[$index],reply.replyId,$index)">

					<div id="replychild-container{{$index}}"
						class="child-answer-wrap collapse">
						<div class="wp-editor-container">
							<text-angular ng-model="replycomment[$index]"></text-angular>
						</div>
						<div class="row submit-wrapper">
							<div class="col-md-3 col-xs-3">
								<button type="submit" id="submit_reply" class="btn-submit">Add
									comment</button>
							</div>
							<div class="col-md-9 col-xs-9">
								<a href="javascript:void(0)" class="hide-comment">Cancel</a>
							</div>
						</div>
					</div>
				</form>

			</div>

		</div>
		<div class="clearfix"></div>
	</div>

	<div class="row form-reply">
		<div class="col-md-12">
			<h3>Your Answer</h3>
			<form id="form_reply" ng-submit="postAnswer();">

				<text-angular ng-model="answer.replyDescription"></text-angular>

				<div class="row submit-wrapper">
					<div class="col-md-2">
						<button type="submit"
							ng-class="{'disabled': answer.replyDescription==''}"
							ng-disabled="answer.replyDescription=='';" class="btn-submit">Post
							answer</button>
					</div>
					<div class="col-md-10 term-texts">
						By posting your answer, you agree to the <a target="_blank"
							href="https://qaengine.enginethemes.com/privacy/">privacy
							policy</a> and <a target="_blank"
							href="https://qaengine.enginethemes.com/term/">terms of
							service.</a>
					</div>
				</div>
			</form>
		</div>
	</div>


	<div class="clearfix"></div>





</div>