<div
	class="col-md-offset-1 col-mxs-offset-1 col-md-9 col-xs-9 main-content questionspage">
	<div class="row select-category">
		<div class="col-md-6 col-xs-6 current-category">
			<span>All Blogs</span>
		</div>
		<div class="col-md-6 col-xs-6">
			<a class="custombtn btn-normal pull-right" href="#/newBlog">Add Blog</a>
		</div>
	</div>

	<div class="row question-filter" id="question_filter">
		<div class="col-md-8 col-xs-8 sort-questions">
			<ul id="nav-tabs">
				<li class="active"><a data-target="#allblogs" data-toggle="tab"
					ng-click="getAllBlogs();">Latest</a></li>
				<li><a data-target="#myblogs" data-toggle="tab"
					ng-click='getMyBlogs()'>My Blogs</a></li>

			</ul>
		</div>
	</div>

	<div class="tab-content">
		<div class="col-md-12 tab-pane active" id="allblogs">
			<ul id="main_posts_list">
				<li ng-repeat="blog in allBlogsList">
					<div class="blog-wrapper">

						<div class="col-md-12 col-xs-12">
							<div class="blog-content">
								<!-- Post Info -->
								<div class="blog-info">
									<span> <span>{{blog.userMailId}}</span>
									</span> <span>{{blog.createdDate | date : 'dd:mm:yyyy'}} </span> <span
										class="tag"> <a
										href="https://qaengine.enginethemes.com/blog/category/blog/"
										rel="category tag">Blog</a>-<a
										href="https://qaengine.enginethemes.com/blog/category/uncategorized/"
										rel="category tag">Uncategorized</a>
									</span> <span class="cmt"> <i class="fa fa-comments"></i>No
										Comments
									</span>
								</div>
								<!-- End / Post Info -->
								<h2>
									<a href="#/blog/{{blog.blogsId}}">T{{blog.title}}</a>
								</h2>
								<div>
									<p ng-bind-html='(blog.description | limitTo:200) +"..."'></p>
								</div>
								<a href="#/blog/{{blog.blogsId}}"> READ MORE<i
									class="fa fa-arrow-circle-o-right"></i>
								</a>
									<div class="blogborder"></div>
							</div>
							
						</div>
					</div>
				</li>
			</ul>

		</div>

		<div class="col-md-12 tab-pane" id="myblogs">
			<ul id="main_posts_list">
				<li ng-repeat="blog in myBlogsList">
					<div class="blog-wrapper">

						<div class="col-md-12 col-xs-12">
							<div class="blog-content">
								<!-- Post Info -->
								<div class="blog-info">
									<span> <span>{{blog.userMailId}}</span>
									</span> <span>{{blog.createdDate | date : 'dd:mm:yyyy'}} </span> <span
										class="tag"> <a
										href="https://qaengine.enginethemes.com/blog/category/blog/"
										rel="category tag">Blog</a>-<a
										href="https://qaengine.enginethemes.com/blog/category/uncategorized/"
										rel="category tag">Uncategorized</a>
									</span> <span class="cmt"> <i class="fa fa-comments"></i>No
										Comments
									</span>
								</div>
								<!-- End / Post Info -->
								<h2>
									<a href="#/blog/{{blog.blogId}}">T{{blog.title}}</a>
								</h2>
								<div>
									<p ng-bind-html='(blog.description | limitTo:200 )+"..."'></p>
								</div>
								<a href="#/blog/{{blog.blogId}}"> READ MORE<i
									class="fa fa-arrow-circle-o-right"></i>
								</a>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>