<div class="col-md-12 col-xs-12">
	<h3 style="text-align: center;">Admin Console</h3>
	<ul class="nav nav-tabs" ng-init="getUsers()">
		<li class="active"><a data-target="#1" data-toggle="tab"
			ng-click="getUsers()">Users</a></li>
		<li><a data-target="#2" data-toggle="tab" ng-click='getRoles()'>Roles
		</a></li>
		<li><a data-target="#3" data-toggle="tab"
			ng-click='getCategories()'>Categories</a></li>
	</ul>
	<div class="tab-content ">
		<div class="tab-pane active" id="1">

			<div class="row" style="padding-top: 30px">
				<div class="col-md-12">
					<table class="table table-hover table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>
								<th></th>
								<th>User Name</th>
								<th>Email</th>
								<th>CreatedDate</th>
								<th>Role</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in usersList">
								<td><input type="checkbox" value=""
									ng-model="user.selected"></td>
								<td>{{user.name}}</td>
								<td>{{user.emailId}}</td>
								<td>{{user.loginDate | date: 'dd-mm-yy'}}</td>
								<td><select name="mySelect" id="mySelect"
									ng-model="user.roleId"
									ng-options="role.roleId as role.role for role in rolesList"></select></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="2">
			<div class="row" style="padding-top: 30px">
				<div class="col-md-6"></div>
				<div class="col-md-6" ng-show="!addrole">
					<input class='btn btn-primary' type="button" value="Add Role"
						ng-click="addrole=true;roleobj.role='';" style="float:right;"/>
				</div>
				<div class="col-md-6" ng-show="addrole">
					
						<div class="col-md-8">
							<input type="text" ng-model="roleobj.role" />
						</div>
						<div class="col-md-2">
							<input class="btn btn-primary" type="button"
								ng-click="addRole();" value="add" />
						</div>
						<div class="col-md-2">
							<input class="btn btn-danger" type="button"
								ng-click="addrole=false;" value="cancel" />
						</div>
				
				</div>
				<div class="col-md-12">
					<table class="table table-hover table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>
								<!-- <th></th> -->
								<th>Role Name</th>
								<th>CreatedDate</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="role in rolesList">
								<!-- <td><input type="checkbox" value="" ng-model="user.selected">
							</td> -->
								<td>{{role.role}}</td>
								<td>{{role.createdDate | date: 'dd-mm-yy'}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="3">
			<div class="row" style="padding-top: 30px">
				<div class="col-md-6"></div>
				<div class="col-md-6" ng-show="!addcategory">
					<input class='btn btn-primary' type="button" value="Add Category"
						ng-click="addcategory=true;categoryobj.categoryName='';categoryobj.description='';"
						 style="float:right;" />
				</div>
				<div class="col-md-6" ng-show="addcategory">

					<div class="col-md-8">
						<div class="col-md-6"><input type="text" ng-model="categoryobj.categoryName" /></div>
						<div class="col-md-6"><textarea ng-model="categoryobj.description"></textarea></div>
					</div>
					<div class="col-md-1">
						<input class="btn btn-primary" type="button"
							ng-click="addCategory();" value="add" />
					</div>
					<div class="col-md-1">
						<input class="btn btn-danger" type="button"
							ng-click="addcategory=false;" value="cancel" />
					</div>

				</div>
				<div class="col-md-12">
					<table class="table table-hover table-striped table-bordered">
						<thead class="thead-inverse">
							<tr>
								<!-- <th></th> -->
								<th>Category Name</th>
								<th>CreatedDate</th>

							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="category in categoriesList">
								<!-- <td><input type="checkbox" value="" ng-model="user.selected">
							</td> -->
								<td>{{category.categoryName}}</td>
								<td>{{category.createDate | date: 'dd-mm-yy'}}</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>