<!doctype html>
<html>

<head>
<title>NISUM :: PORTAL</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- googlesignin script and clientid -->
<link
	href='//fonts.googleapis.com/css?family=Lato:400,700&subset=latin,cyrillic,cyrillic-ext,vietnamese,latin-ext'
	rel='stylesheet' type='text/css'>


<link rel="stylesheet" type="text/css" href="css/multiselect.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<!-- <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	rel='stylesheet' /> -->
<link rel="stylesheet" type="text/css" href="css/multiselect.css" />


<link rel='stylesheet' id='bootstrap-css'
	href='bower_components/bootstrap/dist/css/bootstrap.min.css'
	type='text/css' media='all' />

<link rel='stylesheet' id='date-picker-style-css'
	href='bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='demobar-font-awesome-css'
	href='css/font-awesome.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='mCustomScrollbar-css'
	href='css/jquery.mCustomScrollbar.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='demo-bar-css' href='css/main.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='wp-color-picker-css'
	href='css/color-picker.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'
	href='css/font-awesome.min-1.css' type='text/css' media='all' />
<link rel='stylesheet' id='main-style-css' href='css/main-1.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='editor-style-css' href='css/editor.css'
	type='text/css' media='all' />
<link rel='stylesheet' id='push-menu-css' href='css/push-menu.css'
	type='text/css' media='all' />

<link rel='stylesheet' id='custom-style-css' href='css/custom.css'
	type='text/css' media='all' />
<link rel='stylesheet' href='css/text-angular.css' type="text/css" />

<link rel='stylesheet' id='color-picker-style-css'
	href='css/colorpicker.css' type='text/css' media='all' />
<link rel="stylesheet"
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css" />
<style type="text/css">
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak {
	display: none !important;
}
</style>
<!-- <link rel='stylesheet' id='style-css'  href='css/style.css' type='text/css' media='all' /> -->
</head>
<body ng-app="nisumApp"
	class="home page-template page-template-page-questions page-template-page-questions-php page page-id-12 cbp-spmenu-push">

	<div class="container-fluid">
		<div class="row" ng-controller="mainController as mc">

			<div ng-if="!navBarToggle">
				<div ng-include="'js/partials/header.html'"></div>
			</div>

			<div class="PDTOP80">
				<ui-view></ui-view>
				<!-- main views -->

				<div ng-if="!navBarToggle">
					<div class="rightbar" ng-include="'js/partials/rightsidebar.html'"></div>
				</div>
				<!-- END RIGHT-SIDEBAR -->
			</div>

			<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 footer">
				<div class="row" id="footer-row">
					<div id="footer-container"
						class="container page-container homecontainer" align="center">
						&copy; 2017 Nisum Technologies, Inc.</div>
				</div>
			</div>
			<!-- END RIGHT-SIDEBAR -->
		</div>
		<!-- END ROW -->
	</div>
	<!-- END CONTAINER-FLUID -->
	<div style="display: none;">
		<div id="wp-temp_id-wrap"
			class="wp-core-ui wp-editor-wrap tmce-active">
			<!-- <link rel='stylesheet' id='dashicons-css'
				href='https://qaengine.enginethemes.com/wp-includes/css/dashicons.min.css?ver=1463369188'
				type='text/css' media='all' />
			<link rel='stylesheet' id='editor-buttons-css'
				href='https://qaengine.enginethemes.com/wp-includes/css/editor.min.css?ver=1483691856'
				type='text/css' media='all' /> -->
			<div id="wp-temp_id-editor-container" class="wp-editor-container">
				<textarea class="wp-editor-area" rows="20" tabindex="5"
					autocomplete="off" cols="40" name="post_content" id="temp_id"></textarea>
			</div>
		</div>

	</div>
	<style>
.footer {
	height: 27px;
	background-color: #4B4F60;
	color: white;
	padding-top: 6px;
	font-family: 'Roboto Condensed', sans-serif;
	bottom: 0;
}

Inherited from body.home.page-template.page-template-page-questions.page-template-page-questions-php.page.page-id-12.cbp-spmenu-push.ng-scope
main-1.css: 22 .page-container {
	width: 90%;
}

bootstrap.css: 1585 .container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
</style>



	<!-- MODAL EDIT PROFILE / CHANGE PASS -->
	<div class="modal fade modal-edit-profile" id="edit_profile"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<i class="fa fa-times"></i>
					</button>
					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
				</div>
				<div class="modal-body">
					<div class="author-edit" id="user_avatar_container">
						<span class="author-avatar image" id="user_avatar_thumbnail">
						</span>
						<div class="edit-info-avatar">
							<a href="javascript:void(0);" class="upload-avatar-btn"
								id="user_avatar_browse_button"> Upload New Avatar </a> <a
								href="javascript:void(0);" class="link_change_password">Change
								Password</a> <a href="javascript:void(0);"
								class="link_change_profile">Change Profile</a>
						</div>
						<span class="et_ajaxnonce" id="b9d2df4a0c"></span>
					</div>

					<form id="submit_edit_profile"
						class="form_modal_style edit_profile_form">
						<label>Full name</label> <input type="text" class="submit-input"
							maxlength="40" id="display_name" name="display_name"> <label>Location</label>
						<input type="text" class="submit-input" maxlength="40"
							id="user_location" name="user_location"> <label>Facebook</label>
						<input type="text" class="submit-input" maxlength="80"
							id="user_facebook" name="user_facebook"> <label>Twitter</label>
						<input type="text" class="submit-input" maxlength="80"
							id="user_twitter" name="user_twitter"> <label>Google+</label>
						<input type="text" class="submit-input" maxlength="80"
							id="user_gplus" name="user_gplus"> <label>Email</label> <input
							type="text" class="submit-input" id="user_email"
							name="user_email">

						<div class="clearfix"></div>

						<label>About me</label>
						<textarea maxlength="350" class="submit-textarea" id="description"
							name="description"></textarea>
						<input type="checkbox" name="show_email" id="show_email" /> <label
							for="show_email" class="checkbox-email"> Make this email
							public. </label>
						<div class="clearfix"></div>

						<input type="submit" name="submit" value="Update Profile"
							class="btn-submit update_profile">
					</form>

					<form id="submit_edit_password"
						class="form_modal_style edit_password_form">
						<label>Old Password</label> <input type="password"
							class="submit-input" id="old_password" name="old_password">
						<label>New Password</label> <input type="text"
							class="submit-input input-password" id="new_password1"
							name="new_password"> <label>Repeat New Password</label> <input
							type="text" class="submit-input input-password" id="re_password"
							name="re_password"> <input type="submit" name="submit"
							value="Change Password" class="btn-submit update_profile">
					</form>

				</div>
			</div>
		</div>
	</div>







	<!-- bootstrap scripts -->
	<script src='bower_components/moment/min/moment.min.js'></script>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script
		src='bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'></script>


	<!-- angular scripts -->
	<script src="bower_components/underscore/underscore.js"></script>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script
		src="bower_components/angular-ui-router/release/angular-ui-router.js" /></script>
	<script
		src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
	<script
		src="bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
	<script
		src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-rangy.min.js'></script>
	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular-sanitize.min.js'></script>
	<script
		src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.5.0/textAngular.min.js'></script>


	<!-- module scripts -->
	<script src='js/blogs/blogs.js'></script>
	<script src='js/questions/questions.js'></script>
	<script src='js/configurations/configurations.js'></script>
	<script src='js/trainings/trainings.js'></script>
	<script src='js/login/login.js'></script>
	<script src='js/profile/profile.js'></script>
	<script src='js/meetings/meetings.js'></script>
	<script src="js/app.js"></script>

	<!-- directive scripts -->
	
	<script src="js/common/multiselect-tpls.js"></script>
	<script src="js/directives/angular-datetimepicker.js"></script>
	<script src="js/directives/google-plus-signin.js"></script>
	<script src='js/directives/customDirectives.js'></script>

	<!-- service scripts -->
	<script src='js/services/commonServices.js'></script>
	<script src='js/services/blogsService.js'></script>
	<script src='js/services/categoryService.js'></script>
	<script src='js/services/questionService.js'></script>
	<script src='js/services/roleService.js'></script>
	<script src='js/services/userService.js'></script>
	<script src='js/services/commentService.js'></script>
	<script src='js/services/trainingService.js'></script>
	<script src='js/services/loginLogoutService.js'></script>
	<script src='js/directives/customDirectives.js'></script>
	<script src='js/services/meetingService.js'></script>
	<!-- controllers scripts -->
	<script src='js/blogs/blogsController.js'></script>
	<script src='js/blogs/blogController.js'></script>
	<script src='js/blogs/myBlogController.js'></script>
	<script src="js/questions/questionsController.js"></script>
	<script src="js/questions/questionReplyController.js"></script>
	<script src='js/configurations/configurationsController.js'></script>
	<script src='js/login/loginController.js'></script>
	<script src='js/profile/profileController.js'></script>
	<script src='js/questions/addQuestionController.js'></script>
	<script src='js/trainings/trainingsController.js'></script>
	<script src='js/trainings/classRoomTrainingsController.js'></script>
	<script src='js/trainings/myTrainingsController.js'></script>
	<script src='js/trainings/onlineTrainingsController.js'></script>
	<script src='js/trainings/createTrainingController.js'></script>
	<script src='js/questions/editQuestionController.js'></script>
	<script src='js/meetings/meetingsController.js'></script>
	<script src='js/meetings/addMeetingController.js'></script>
	<!-- models scripts -->
	<script src="js/models/categoryModel.factory.js"></script>
	<script src="js/models/categoryListModel.factory.js"></script>
	<script src="js/models/roleModel.factory.js"></script>
	<script src="js/models/roleListModel.factory.js"></script>
	<script src="js/models/userModel.factory.js"></script>
	<script src="js/models/userListModel.factory.js"></script>
	<script src='js/models/questionModel.factory.js'></script>
	<script src='js/models/questionsListModel.factory.js'></script>
	<script src='js/models/commentModel.factory.js'></script>
	<script src='js/models/commentListModel.factory.js'></script>
	<script src='js/models/replyModel.factory.js'></script>
	<script src='js/models/replyListModel.factory.js'></script>
	<script src='js/models/questionReplyListModel.factory.js'></script>
	<script src='js/models/trainingModel.factory.js'></script>
	<script src='js/models/trainingListModel.factory.js'></script>
	<script src='js/models/locationModel.factory.js'></script>
	<script src="js/models/locationListModel.factory.js"></script>
</body>
</html>