

<nav class="navbar navbar-inverse" id="header"
	ng-init="mc.getProfile();">
	<div class="container-fluid">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#menu_qa">
			<span class="icon-bar"></span> <span class="icon-bar"></span> <span
				class="icon-bar"></span>
		</button>
		<div class="navbar-header" id="logo">
			<a class="navbar-brand" href="javascript:void(0);"> <img
				src="images/nisumlogo.png">
			</a>

		</div>
		<div class="collapse navbar-collapse header-menu" id="menu_qa">
			<ul class="nav navbar-nav">
				<li
					ng-class="{'active': urlChanged==='/questions' || urlChanged.indexOf('/question/') > -1}"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-12 current_page_item menu-item-20"><a
					href='#/questions'>Questions</a></li>

				<li ng-class="{'active': urlChanged==='/blog'}"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a
					href='javascript:void(0);'>Blog</a></li>
				<!-- ng-show="mc.profile.username=='admin@gmail.com'" -->
				<li ng-class="{'active': urlChanged==='/trainings'}"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a
					href='#/trainings'>Trainings</a></li>
				<li ng-class="{'active': urlChanged==='/configurations'}"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a
					href='#/configurations'>Configurations</a></li>
				<!-- <li ng-class="{'active': urlChanged==='/meetings'}"
					class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1866"><a
					href='#/meetings'>Meetings Room</a></li> -->
				<li><div class="header-search-wrapper">
						<form id="header_search" method="GET" action=""
							class="disable-mobile-search">
							<input type="text" name="keyword" required value=""
								placeholder="Search Questions" autocomplete="off" /> <i
								class="fa fa-search"></i>
							<div id="search_preview" class="search-preview empty"></div>
						</form>
					</div></li>
			</ul>
			<ul class="nav navbar-nav navbar-right sidebaropen">
				<li><a data-toggle="dropdown" href="javascript:void(0);">{{mc.profile.userName}}
						<img class="profImgHeader" ng-src="{{mc.profile.image}}" />
				</a>
					<ul class="dropdown-menu togglemenu">
						<li><a href="#/profile"><span
								class="glyphicon glyphicon-wrench pull-right"></span><span
								class="dropdown-link-text">Settings</span></a></li>
						<!-- <li><a href=""><span
								class="glyphicon glyphicon-lock pull-right"></span><span
								class="dropdown-link-text">Change Password</span></a></li> -->
						<li role="separator" class="divider"></li>
						<li ng-click="mc.logout();"><a href="javascript:void(0);"><span
								class="glyphicon glyphicon-log-out pull-right"></span><span
								class="dropdown-link-text">Logout</span></a></li>
					</ul></li>
			</ul>
		</div>
		<!-- <a class="login-url" data-toggle="dropdown"
				href="javascript:void(0);">{{mc.profile.username}}<img
					class="profImgHeader" src="images/userlogo.jpg" /></a> -->





	</div>
</nav>



