<div class="col-md-1 col-xs-1"></div>
<div class="col-md-9 col-xs-9 modal-submit-questions "
	style="padding-top: 30px;">
	<div class="col-md-1 col-xs-1">
		<span class="back"> <i class="fa fa-angle-double-left"></i> <a
			href="#/trainings">Back</a>
		</span>
	</div>
	<div class="col-md-12 col-xs-12">
		 <ul class="tabs-title">
			<li><h4 class="modal-title active">Class Room Trainings</h4></li>

		</ul> 
		<div class="row irs-all-course-bb clearfix">
			<div class="col-sm-6 col-md-6 col-lg-4 clearfix"
				ng-repeat="training in trainingsList.trainings" ng-click="showModal(training)">
				<div class="irs-lc-grid style2 text-center">
					<!-- <div class="irs-lc-grid-thumb">
                  <img class="img-responsive img-fluid" src="images/classroom-training.jpg" alt="5.jpg">
                  <div class="irs-lc-overlay"></div>
                  <div class="irs-lc-price">free</div>
                </div> -->
					<div class="irs-lc-details">
						<div class="irs-lc-teacher-info">
							<div class="irs-lct-thumb">
								<img src="images/userlogo.jpg" alt="s3.png">
							</div>
							<div class="irs-lct-info">
								with <span class="text-thm2">{{training.trainerName}}</span>
							</div>
						</div>
						<h4>
							<a href="javascript:void(0);">{{training.trainingTitle}}</a>
						</h4>
					</div>
					<div class="irs-lc-footer">
						<div class="irs-lc-normal-part">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-users"></i> 321</a></li>
								<li><a href="#"><i class="fa fa-commenting"></i> 4</a></li>
							</ul>
						</div>
						<div class="irs-lc-hover-part">See Course</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<div id="trainingModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="row">
					<div class="col-md-5">
						<div class="irs-cdtls-feture-bot">
							<ul class="list-group">
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-business text-thm2"></span> Lecture <span
										class="pull-right"> 12 </span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-clock-1 text-thm2"></span> Duration <span
										class="pull-right"> 2 hrs. </span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-pen text-thm2"></span> Quizzes <span
										class="pull-right"> 3 </span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-arrows-4 text-thm2"></span> Skill Level <span
										class="pull-right"> All </span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-people-1 text-thm2"></span> Students <span
										class="pull-right"> 321 </span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-globe text-thm2"></span> Language <span
										class="pull-right"> English </span></a></li>
								<li><a class="list-group-item irs-bbn" href="javascript:void(0);"><span
										class="flaticon-technology text-thm2"></span> Assessments <span
										class="pull-right"> self </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-7">
						<div class="irs-courses-dtls-second-para">
							<p>{{modalTraining.description}}</p>
							
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="editItem();" ng-if="modalTraining.trainingPresence===0">Join</button>
				<button type="button" class="btn btn-danger" ng-click="editItem();" ng-if="modalTraining.trainingPresence===1">Cancel</button>
			</div>
		</div>

	</div>
</div>
