
<div class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1 col-xl-offset-1 col-md-9 col-xs-9 col-sm-9 col-xl-9 col-lg-9"
	style="padding-top: 30px;" ng-init="getuserTrainings();">
	<div class="col-md-1 col-xs-1 col-sm-1 col-xl-1 col-lg-1">
		<span class="back"> <i class="fa fa-angle-double-left"></i> <a
			href="#/trainings">Back</a>
		</span>
	</div>
	<div class="col-md-11 col-xs-11 col-sm-11 col-xl-11 col-lg-11">
		<button class='custombtn btn-normal' ng-click="createTrainings();"
			style="float: right">New Training</button>
	</div>
	<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 col-lg-12">
		<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 col-lg-12">
			<ul class="tabs-title" ng-init="getUsers();">
				<li class="active"><h4 data-target="#usertrainings"
					data-toggle="tab" ng-click='getUserTrainings()'>User Trainings</h4></li>
				<li><h4 data-target="#mytrainings" data-toggle="tab"
					ng-click='getMyTrainings()'>My Trainings</h4></li>

			</ul>
		</div>

		<div class="tab-content">
			<div class="tab-pane active row irs-all-course-bb clearfix"
				id="usertrainings">
				<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6 clearfix"
					ng-repeat="training in userTrainingsList.trainings"
					ng-click="showUserModal(training)">
					<div class="irs-lc-grid style2 text-center">
						<div class="irs-lc-details">
							<div class="irs-lc-teacher-info">
								<div class="irs-lct-thumb" ng-if="training.displayImage==null">
									<img src="images/userlogo.jpg" alt="s3.png">
								</div>
								<div class="irs-lct-thumb" ng-if="training.displayImage!==null">
									<img ng-src="{{training.displayImage}}" alt="s3.png">
								</div>
								<div class="irs-lct-info">
									with <span class="text-thm2">{{training.trainerName}}</span>
								</div>
							</div>
							<h4>
								<a href="javascript:void(0);">{{training.trainingTitle}}</a>
							</h4>
						</div>
						<div class="irs-lc-footer">
							<div class="irs-lc-normal-part">
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-users"></i>{{training.noOfStudents}}</a></li>
									<li><a href="#"><i class="fa fa-commenting"></i>{{training.noOfComments}}</a></li>
								</ul>
							</div>
							<div class="irs-lc-hover-part">See Course</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane row irs-all-course-bb clearfix" id="mytrainings">
				<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6 clearfix"
					ng-repeat="training in myTrainingsList.trainings"
					ng-click="showMyModal(training)">
					<div class="irs-lc-grid style2 text-center">
						<div class="irs-lc-details">
							<div class="irs-lc-teacher-info">
								<div class="irs-lct-thumb" ng-if="training.displayImage==null">
									<img src="images/userlogo.jpg" alt="s3.png">
								</div>
								<div class="irs-lct-thumb" ng-if="training.displayImage!==null">
									<img ng-src="{{training.displayImage}}" alt="s3.png">
								</div>
								<div class="irs-lct-info">
									with <span class="text-thm2">{{training.trainerName}}</span>
								</div>
							</div>
							<h4>
								<a href="javascript:void(0);">{{training.trainingTitle}}</a>
							</h4>
						</div>
						<div class="irs-lc-footer">
							<div class="irs-lc-normal-part">
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-users"></i>{{training.noOfStudents}}</a></li>
									<li><a href="#"><i class="fa fa-commenting"></i>{{training.noOfComments}}</a></li>
								</ul>
							</div>
							<div class="irs-lc-hover-part">See Course</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<div id="userTrainingModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="modalUserTraining={};">&times;</button>

				<div class="row">
					<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
						<div class="irs-cdtls-feture-bot">
							<ul class="list-group">
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Time<span class="pull-right">
											{{modalUserTraining.trainingStartTime | date:'hh:mm a' }}</span>
								</a></li>
								 <!-- <li><a class="list-group-item" href="javascript:void(0);">End
										Time<span class="pull-right"> {{modalUserTraining.trainingEndTime }}</span>
								</a>
								</li> -->
								<li><a class="list-group-item" href="javascript:void(0);">
										Duration <span class="pull-right">
											{{modalUserTraining.customDuration.hours!==0?modalUserTraining.customDuration.hours+'hr(s)':''}}
											{{modalUserTraining.customDuration.minutes!==0?modalUserTraining.customDuration.minutes+'min(s)':''}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Date<span class="pull-right">
											{{modalUserTraining.trainingStartDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);">End
										Date<span class="pull-right">
											{{modalUserTraining.trainingEndDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);"></span>
										Skills<span class="pull-right">{{modalUserTraining.trainingTitle}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);">
										Students <span class="pull-right">{{modalUserTraining.noOfStudents}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);"></span>
										Language <span class="pull-right"> English </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
						<div class="irs-courses-dtls-second-para">
							<p>{{modalUserTraining.description}}</p>

						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;"
					ng-show="modalUserTraining.commentStatus==1">

					<form name="feedbackForm"
						ng-submit="submitFeedBack(commentdescription,modalUserTraining.trainingId);">
						<div class="form-group">
							<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
								<textarea autogrow ng-model="commentdescription" limit-To='200'
									ng-maxlength='200' rows="3" ng-minlength='1' required
									placeholder="Any FeedBack"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
								<button type="submit" class='custombtn btn-normal'
									ng-disabled="feedbackForm.$invalid"
									ng-class="{'disabled':feedbackForm.$invalid}">
									<i class="fa fa-comment" aria-hidden="true"></i>FeedBack
								</button>
							</div>
						</div>
					</form>

				</div>
				<div class="row" style="margin-top: 10px;">
					<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
						<h4>{{modalUserTraining.feedbackMessage}}</h4>
					</div>
				</div>
				

			</div>
			<div class="modal-footer"
				ng-if="modalUserTraining.trainingPresence!==2">
				<button type="button" class="custombtn btn-normal"
					ng-click="showConfirmModal()"
					ng-if="modalUserTraining.trainingPresence===0">Register</button>
				<button type="button" class="custombtn btn-cancel"
					ng-click="showConfirmModal()"
					ng-if="modalUserTraining.trainingPresence===1">UnRegister</button>
			</div>
			
		</div>

	</div>
</div>
<div id="MyTrainingModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal"
					ng-click="modalMyTraining={};">&times;</button>

				<div class="row">
					<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
						<div class="irs-cdtls-feture-bot">
							<ul class="list-group">
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Time<span class="pull-right">
											{{modalMyTraining.trainingStartTime | date:'hh:mm a' }}</span>
								</a></li>
								<!-- <li><a class="list-group-item" href="javascript:void(0);">End
										Time<span class="pull-right"> {{modalMyTraining.trainingEndTime }}</span>
								</a></li>-->
								<li><a class="list-group-item" href="javascript:void(0);">
										Duration <span class="pull-right">
											{{modalMyTraining.customDuration.hours!==0?modalMyTraining.customDuration.hours+'hr(s)':''}}
											{{modalMyTraining.customDuration.minutes!==0?modalMyTraining.customDuration.minutes+'min(s)':''}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Date<span class="pull-right">
											{{modalMyTraining.trainingStartDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);">End
										Date<span class="pull-right">
											{{modalMyTraining.trainingEndDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-arrows-4 text-thm2"></span> Skills<span
										class="pull-right">{{modalMyTraining.trainingTitle}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-people-1 text-thm2"></span> Students <span
										class="pull-right">{{modalMyTraining.noOfStudents}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-globe text-thm2"></span> Language <span
										class="pull-right"> English </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6 col-xl-6 col-lg-6">
						<div class="irs-courses-dtls-second-para">
							<p>{{modalMyTraining.description}}</p>

						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 10px;" ng-if="modalMyTraining.commentDescriptions.length>0">
					<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 col-lg-12 list-group ">
						<b><h5 class="commentheader"></b><i class="fa fa-comments-o" style="margin:3px;"></i>Comments</h5>
						<div class="list-group-item"
							ng-repeat="comment in modalMyTraining.commentDescriptions">
							<h6><b>{{comment.name}}</b></h6>
							<P class="comment para" ng-bind-html='comment.description'></p>

						</div>
					</div>
					</div>
			</div>
		</div>

	</div>
</div>
<div id="confirmModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 ng-if="modalUserTraining.trainingPresence==0">Are you sure. Do you want to Register for the Training?</h5>
				<h5 ng-if="modalUserTraining.trainingPresence==1">Are you sure. Do you want to UnRegister for the Training?</h5>
			</div>
			<div class="modal-footer">
				
				<button type="button" ng-if="modalUserTraining.trainingPresence==1" class="custombtn btn-normal" ng-click="requestuserTraining(modalUserTraining,0);">Ok</button>
				<button type="button" ng-if="modalUserTraining.trainingPresence==0" class="custombtn btn-normal" ng-click="requestuserTraining(modalUserTraining,1);">Ok</button>
				<button type="button" class="custombtn btn-cancel" data-dismiss="modal">cancel</button>
			</div>
		</div>

	</div>
</div>


