
<div
	class="col-md-offset-1 col-xs-offset-1 col-sm-offset-1 col-lg-offset-1 col-xl-offset-1 col-md-9 col-xs-9 col-sm-9 col-lg-9 col-xl-9 modal-submit-questions "
	style="padding-top: 30px;">

	<div class="col-md-1 col-xs-1 col-sm-1 col-lg-1 col-xl-1">
		<span class="back"> <i class="fa fa-angle-double-left"></i> <a
			href="#/trainings">Back</a>
		</span>
	</div>
	<div class="row">
	<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-x-l2">
		<ul class="tabs-title">
			<li><h4 class="modal-title active">Online Trainings</h4></li>

		</ul>
		<div class="row irs-all-course-bb clearfix">
			<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xl-6 clearfix"
				ng-repeat="training in onlineTrainingsList.trainings"
				ng-click="showModal(training)">
				<div class="irs-lc-grid style2 text-center">

					<div class="irs-lc-details">
						<div class="irs-lc-teacher-info">
							<div class="irs-lct-thumb" ng-if="training.displayImage==null">
								<img src="images/userlogo.jpg" alt="s3.png">
							</div>
							<div class="irs-lct-thumb" ng-if="training.displayImage!==null">
								<img ng-src="{{training.displayImage}}" alt="s3.png">
							</div>
							<div class="irs-lct-info">
								with <span class="text-thm2">{{training.trainerName}}</span>
							</div>
						</div>
						<h4>
							<a href="javascript:void(0);">{{training.trainingTitle}}</a>
						</h4>
					</div>
					<div class="irs-lc-footer">
						<div class="irs-lc-normal-part">
							<ul class="list-inline">
								<li><a href="#"><i class="fa fa-users"></i>{{training.noOfStudents}}</a></li>
								<li><a href="#"><i class="fa fa-commenting"></i>{{training.noOfComments}}</a></li>
							</ul>
						</div>
						<div class="irs-lc-hover-part">See Course</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

</div>
<div id="trainingModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="row">
					<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xl-6">
						<div class="irs-cdtls-feture-bot">
							<ul class="list-group">
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Time<span class="pull-right">
											{{modalTraining.trainingStartTime | date:'hh:mm a' }}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-clock-1 text-thm2"></span> Duration <span
										class="pull-right">{{modalTraining.customDuration.hours!==0?modalTraining.customDuration.hours+'
											hr(s)':''}}{{modalTraining.customDuration.minutes!==0?modalTraining.customDuration.minutes+'
											min(s)':''}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);">Start
										Date<span class="pull-right">
											{{modalTraining.trainingStartDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);">End
										Date<span class="pull-right">
											{{modalTraining.trainingEndDate | date:'dd MMM,yy'}}</span>
								</a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-arrows-4 text-thm2"></span> Skills<span
										class="pull-right">{{modalTraining.trainingTitle}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-people-1 text-thm2"></span> Students <span
										class="pull-right">{{modalTraining.noOfStudents}}</span></a></li>
								<li><a class="list-group-item" href="javascript:void(0);"><span
										class="flaticon-globe text-thm2"></span> Language <span
										class="pull-right"> English </span></a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 col-xl-6">
						<div class="irs-courses-dtls-second-para">
							<p>{{modalTraining.description}}</p>

						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer"
				ng-if="modalTraining.trainingPresence!==2">
				<button type="button" class="custombtn btn-normal"
					ng-click="showConfirmModal()"
					ng-if="modalTraining.trainingPresence===0">Register</button>
				<button type="button" class="custombtn btn-cancel"
					ng-click="showConfirmModal()"
					ng-if="modalTraining.trainingPresence===1">UnRegister</button>
			</div>
		</div>

	</div>
</div>
<div id="confirmModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">

			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 ng-if="modalTraining.trainingPresence==0">Are you sure. Do
					you want to Register for the Training?</h5>
				<h5 ng-if="modalTraining.trainingPresence==1">Are you sure. Do
					you want to UnRegister for the Training?</h5>
			</div>
			<div class="modal-footer">

				<button type="button" ng-if="modalTraining.trainingPresence==1"
					class="custombtn btn-normal"
					ng-click="requestuserTraining(modalTraining,0);">Yes</button>
				<button type="button" ng-if="modalTraining.trainingPresence==0"
					class="custombtn btn-normal"
					ng-click="requestuserTraining(modalTraining,1);">Yes</button>
				<button type="button" class="custombtn btn-cancel"
					data-dismiss="modal">No</button>
			</div>
		</div>

	</div>
</div>
