
<div class="col-md-offset-1 col-xs-offset-1 col-md-9 col-xs-9 main-content">
	<div class="col-md-7 col-xs-7">
		<form name="meetingForm">
			<div class="form-group row">
				<label class="control-label col-sm-2" for="meeting">Meeting:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="meeting"
						placeholder="Meeting Title" ng-model="meeting.title" required>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="location">Location:</label>
				<div class="col-sm-10">
					<am-multiselect id="location" class=""
						ng-model="meeting.locationId" ms-header="Select Location"
						options="location.locationId as location.locationName for location in locationsList.locations"
						change="getAllMeetings();getallavailblemeetings();"
						required style="float:left"></am-multiselect>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="description">Description:</label>
				<div class="col-sm-10">
					<textarea class="form-control form-control-lg" id="description"
						rows="3" ng-model="meeting.description" limit-To='500'
						placeholder="Add Description" ng-maxlength="150" ng-minlength='1'
						autogrow required></textarea>
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2" for="meeting">Select
					Date:</label>
				<div class="col-sm-10">
					<div class='input-group date'>
						<input type='text' class="form-control" datetimepicker
						
							ng-model="bookingDate" placeholder="Meeting Date"
							options="dateOptions" ng-change="getallavailblemeetings()" required /> <span
							class="input-group-addon"> <span
							class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="time" class="col-md-2 col-form-label col-form-label-lg">Training Time:</label>
				<div class="col-md-10" style="padding:0">
					<div class="col-md-5">
						<div class='input-group date'>
							<input type='text' class="form-control"
								ng-model="startingTime" datetimepicker
								options="timeOptions" ng-change="getallavailblemeetings()" required placeholder="Start Time" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
					<div class="col-md-1">
						<label style="margin-top:7px">To</label>
					</div>
					<div class="col-md-5">
						<div class='input-group date'>
							<input type='text' class="form-control"
								ng-model="endingTime" datetimepicker
								options="timeOptions" ng-change="getallavailblemeetings()" required placeholder="End Time" /> <span
								class="input-group-addon"> <span
								class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>

				</div>
			</div>
			
			<div class="form-group row">
				<label class="control-label col-sm-2" for="room">Select Room:</label>
				<div class="col-sm-10">
					<am-multiselect id="meetingroom" class="" ng-model="meeting.meetingRoomId "
						ms-header="Select Room"
						options="meetingroom.meetingRoomId as meetingroom.meetingRoomName for meetingroom in availableMeetingRooms"
						change="conferenceroomSelected()" required style="float:left">
					</am-multiselect>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="control-label col-sm-2" for="attendance"># of Attendees:</label>
				<div class="col-sm-10">
					<input type="number" ng-model="meeting.attendees"
						class="form-control" id="meeting" placeholder="No of members">
				</div>
			</div>
			
			<div class="form-group row">

				<div class="col-sm-offset-4 col-sm-5">
					<input type="submit" class="custombtn btn-normal"
						value="Book Meeting" ng-disabled="meetingForm.$invalid" ng-click="bookMeetingRoom()">
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-5 col-xs-5 meetingList">
		<h4 class="text-center Heading">Booked Meeting List</h4>
		<ul class="list-group" style="height:300px;overflow-x:scroll;">
			<li class="list-group-item justify-content-between">
			 <p>Meeting 1</p>
			 <span>2-11-2017</span>&nbsp;<span> 2:30PM - 3:00PM</span>
			</li>
			<li class="list-group-item justify-content-between">
			<p>Meeting 2</p>
			 <span>3-11-2017</span><span> 2:30PM - 3:00PM</span>
			</li>
			<li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
			 <li class="list-group-item justify-content-between">
			<p>Meeting 3</p>
			 <span>3-11-2017</span><span> 3:30PM - 4:30PM</span>
			 </li>
		</ul>
	</div>

</div>
