<div class="col-md-1 col-xs-1"></div>
<div class="col-md-9 col-xs-9" style="padding-top: 30px;">
	<div class="col-md-2 col-xs-2"></div>
	<div class="col-md-8 col-xs-8">
		<form>
			<div class="form-group row">
				<label for="lgFormGroupInput"
					class="col-sm-2 col-form-label col-form-label-lg">Profile
					Name :</label>
				<div class="col-sm-10">
					<input type="text" class="form-control form-control-lg"
						id="lgFormGroupInput" 
						ng-model="profile.profileName">
				</div>
			</div>
			<div class="form-group row">
				<label for="lgFormGroupInput"
					class="col-sm-2 col-form-label col-form-label-lg">User Name
					:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control form-control-lg"
						id="lgFormGroupInput" placeholder="User Name"
						ng-model="profile.userName" >
				</div>
			</div>
			<div class="form-group row">
				<label for="lgFormGroupInput"
					class="col-sm-2 col-form-label col-form-label-lg">Email :</label>
				<div class="col-sm-10">
					<input type="email" class="form-control form-control-lg"
						id="lgFormGroupInput" placeholder="Email Address"
						ng-model="profile.emailId" disabled>
				</div>
			</div>
			<div class="form-group row">
				<label for="lgFormGroupInput"
					class="col-sm-2 col-form-label col-form-label-lg">Categories
					:</label>
				<div class="col-sm-10">
					<am-multiselect class="customselect" multiple="true"
						ms-selected="There are {{profile.profileSettings.length}} category(s) selected"
						ng-model="profile.profileSettings" ms-header="Select Some Categories"
						options="category.categoryId as category.categoryName for category in categoriesList.categories"
						change="selected()"></am-multiselect>


				</div>
			</div>
			
			 <label for="notification">Get Email Notification</label>&nbsp;&nbsp;&nbsp;

       <input type="checkbox" name="notification" id="notification"  ng-model="profile.notifications"  ng-true-value="'yes'" ng-false-value="'no'"><br>

       

      <div align="center">

         <input type="submit" value="Submit" ng-click="saveProfile()">

      </div>
		</form>
	</div>
	<div class="col-md-2 col-xs-2"></div>
</div>